#info {
    background: #333;
    color: #fff;
    text-align: center;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-valor {
    margin: 20px;
}

.info-valor img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}